@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@font-face {
  font-family: 'YT', sans-serif;
  src: url(../fonts/YouTubeSansLight.otf);
}
* {
  font-family: 'Roboto', sans-serif;
}
.Inicial {
  margin-top: -10px;
}
.Top {
  padding: 10px 15px;
  width: 97%;
}
.Top-Left {
  margin-left: -7px;
  padding: 10px 15px;
  float: left;
}
.Icon-Left {
  float: left;
  margin-top: -2px;
  margin-left: -10px;
  cursor: pointer;
}
.Youtube-Icon {
  width: 100%;
  max-width: 85px;
  margin-top: -2px;
  margin-left: 25px;
  cursor: pointer;
}
.search {
  float: left;
  width: 100%;
  max-width: 600px;
  padding: 10px 2px;
  margin-left: 120px;
  outline-color: #4b79e4;
}
.Icon-Search {
  padding: 9px 15px;
  margin-top: 2px;
  cursor: pointer;
  float: left;
}
.Micro-Icon {
  padding: 8px 6px;
  font-size: 18px;
  margin-left: 15px;
  cursor: pointer;
  outline: blue;
}
.Th-Icon {
  padding: 8px 6px;
  margin-left: 70px;
  font-size: 18px;
  cursor: pointer;
}
.three-dots {
  padding: 8px 6px;
  margin-left: 15px;
  font-size: 18px;
  cursor: pointer;
}
.Login {
  font-family: 'Roboto', sans-serif;
  margin-left: 20px;
  padding: 8px 25px;
  font-size: 15px;
  margin-top: 0px;
  border: 1px solid blue;
  float: right;
  color: blue;
  font-weight: bold;
  outline: blue;
  cursor: pointer;
}
.Avatar {
  color: blue;
  font-size: 18px !important;
}
.Left-Side {
  border: 1px solid none;
  margin-top: 20px;
  width: 100%;
  max-width: 220px;
  height: 1000px;
}
.Button-Home-Activate {
  width: 200px;
  padding: 10px;
  color: black;
  background-color: #e6e6e6;
  font-weight: bold;
  cursor: pointer;
  margin-top: -14px;
}
.Button-Home-Activate:hover {
  background-color: #d4d4d4;
}
.Icon-Home-Active {
  color: red;
  float: left;
  margin-right: 15px;
  cursor: pointer;
}
.Button-Compass:hover {
  background-color: #f8f8f8;
}
.Icon-Compass {
  float: left;
  cursor: pointer;
  margin-right: 15px;
}
.Explore {
  width: 200px;
  padding: 10px;
  font-weight: bold;
  color: gray;
  cursor: pointer;
}
.Explore:hover {
  background-color: #d4d4d4;
}
.Left-Explore {
  float: left;
  margin-right: 15px;
}
.Subscriptions {
  width: 200px;
  padding: 10px;
  font-weight: bold;
  color: gray;
  cursor: pointer;
}
.Subscriptions:hover {
  background-color: #d4d4d4;
}
.Left-Subscriptions {
  float: left;
  cursor: pointer;
  margin-right: 15px;
}
.Separator {
  height: 1px;
  background-color: RGB(209, 209, 209);
  margin-top: 10px;
}
.Library {
  width: 200px;
  margin-top: 15px;
  padding: 10px;
  color: gray;
  cursor: pointer;
  font-weight: bold;
}
.Library:hover {
  background-color: #d4d4d4;
}
.Library-Button {
  float: left;
  margin-right: 15px;
}
.History {
  width: 200px;
  padding: 10px;
  font-weight: bold;
  color: gray;
  cursor: pointer;
  float: left;
}
.History:hover {
  background-color: #d4d4d4;
}
.History-Button {
  margin-right: 10px;
}
.Separator2 {
  height: 1px;
  background-color: RGB(209, 209, 209);
  margin-top: 50px;
}
.Phrase {
  margin-top: 20px;
  width: 100%;
  max-width: 160px;
  font-size: 14px;
  text-align: justify;
}
.Login2 {
  font-family: 'Roboto', sans-serif;
  margin-left: 45px;
  padding: 8px 25px;
  font-size: 15px;
  border: 1px solid blue;
  color: blue;
  outline: blue;
  font-weight: bold;
  cursor: pointer;
}
.Separator3 {
  height: 1px;
  background-color: RGB(209, 209, 209);
  margin-top: 20px;
}
.Phrase2 {
  width: 200px;
  padding: 10px;
  margin-top: 5px;
  float: left;
  color: #606060;
  font-size: 14px;
  font-weight: bold;
}
.Music {
  color: gray;
  margin-top: -20px;
  width: 200px;
  padding: 10px;
  cursor: pointer;
}
.Music-Button {
  color: gray;
  float: left;
  margin-right: 15px;
}
.Music:hover {
  background-color: #d4d4d4;
}
.Sports {
  color: gray;
  width: 200px;
  padding: 10px;
  cursor: pointer;
}
.Sports-Button {
  float: left;
  margin-right: 15px;
}
.Sports:hover {
  background-color: #d4d4d4;
}
.Gaming {
  color: gray;
  width: 200px;
  padding: 10px;
  cursor: pointer;
}
.Gaming-Button {
  float: left;
  margin-right: 10px;
}
.Gaming:hover {
  background-color: #d4d4d4;
}
.Movies {
  color: gray;
  width: 200px;
  padding: 10px;
  cursor: pointer;
}
.Movies-Button {
  margin-right: 15px;
  float: left;
}
.Movies:hover {
  background-color: #d4d4d4;
}
.News {
  width: 200px;
  padding: 10px;
  color: gray;
  cursor: pointer;
}
.News-Button {
  margin-right: 10px;
}
.News:hover {
  background-color: #d4d4d4;
}
.Learning {
  width: 200px;
  padding: 10px;
  color: gray;
  cursor: pointer;
}
.Learning-Button {
  color: gray;
  margin-right: 15px;
}
.Learning:hover {
  background-color: #d4d4d4;
}
.Separator4 {
  height: 1px;
  background-color: RGB(209, 209, 209);
}
.Settings {
  width: 200px;
  padding: 8px;
  float: left;
  color: gray;
  cursor: pointer;
}
.Settings-Button {
  margin-right: 10px;
  color: gray;
}
.Settings:hover {
  background-color: #d4d4d4;
}
.Report {
  width: 200px;
  padding: 10px;
  color: gray;
  float: left;
  cursor: pointer;
}
.Report-Button {
  margin-right: 10px;
  color: gray;
}
.Report:hover {
  background-color: #d4d4d4;
}
.Help {
  margin-top: 15px;
  width: 200px;
  padding: 10px;
  color: gray;
  float: left;
  cursor: pointer;
}
.Help-Button {
  margin-right: 10px;
  color: gray;
}
.Help:hover {
  background-color: #d4d4d4;
}
.Feedback {
  width: 200px;
  padding: 10px;
  color: gray;
  float: left;
  cursor: pointer;
}
.Feedback-Button {
  margin-right: 10px;
  color: gray;
}
.Feedback:hover {
  background-color: #d4d4d4;
}
.Line-Separator {
  border-top: 1px solid RGB(209, 209, 209);
  background-color: black;
  margin-top: -1010px;
  margin-left: 220px;
}
.Mid {
  background: white;
  margin-left: 220px;
  margin-top: -5px;
  height: 1500px;
}
.All {
  border-radius: 5px;
  padding: 15px 10px;
  margin-top: 5px;
}
.All-Button-Selective {
  background-color: black;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 18px;
  font-size: 15px;
  margin-top: -15px;
  cursor: pointer;
}
.Sugestive {
  border: none;
  cursor: pointer;
  padding: 7px 15px;
  border-radius: 15px;
  font-size: 15px;
  margin-left: 7px;
  background-color: #dfdfdfe1;
}
.Sugestive:hover {
  background: #c2c0c0;
}
.Line-Separator2 {
  border-top: 1px solid RGB(209, 209, 209);
  margin-top: 10px;
  margin-left: -10px;
  height: 500px;
}
.Banner {
  margin-top: -500px;
  width: 100%;
  height: 300px;
  background-image: url('../images/Banner.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
}
.Logo {
  width: 100%;
  max-width: 350px;
  margin-top: 30px;
  margin-left: 30px;
}
.Logo-Text {
  font-family: 'YT', sans-serif;
  text-align: justify;
  font-size: 23px;
  margin-left: 30px;
}
.Getit {
  font-family: 'YT', sans-serif;
  padding: 10px 12px;
  margin-left: 30px;
  font-weight: bold;
  color: blue;
  border-color: blue;
  background-color: white;
  cursor: pointer;
}
.close-botton{
  font-size: 20px;
  color: gray;
  margin-top: -730px;
  float: right;
  cursor: pointer;
}
.Videos{  
  flex: 1;
  display: flex;
  margin-top: -1200px;
  background: rgb(241, 241, 241);
  height: 500px;
  padding: 45px 30px;
}
.Thumb{
  width: 100%;
  max-width: 300px;
  height: 150px;
  cursor:pointer;
}
.Time{
  font-size: 10px;
  padding: 5px;
  background: black;
  color: white;
  margin-top: -25px;
  margin-left: 195px;
  position: absolute;
  float: right;
  border-radius: 3px;
}
.Video{
  width: 100%;
  max-width: 300px;
  height: 250px;
  float: left;
  margin-right: 15px;
}
.icon-channel{
  border-radius: 100%;
  width: 40px;
  margin-top: 10px;
  margin-left: 10px;
}
.thumb-font{
  font-weight: bold;
  margin-top: -40px;
  margin-left: 60px;
  font-size: 14px;
}
.thumb-font2{
  color: #646464;
  font-size: 12px;
  float: right;
  margin-left: 60px;
  margin-top: -10px;
  text-align: left;
  position: absolute;
  font-weight: bold;
}