@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  font-size: 22px;
  font-weight: bold;
  font-family: 'Roboto', Times, serif;}
.All{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #d4d4d4;
  height: 500px;} 
.Item{
  color: white;
  padding: 15px;
  margin: 10px;
  background: blue;
  border-radius: 15px;}
.title{
  font-size: 35px;
  color: blue;}