@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
  font-size: 22px;
  font-weight: bold;
  font-family: 'Roboto', Times, serif;}
body{
  padding: 0;
  margin: 0;}
.title{ 
    font-size: 35px;
    color: blue;}  
.All{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #d4d4d4;
  height: 200px;} 
.Menu{
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;}
.Logo{
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 50px;}