@font-face {
  font-family: "Airbnb-Light";
  src: url("../fonts/AirbnbCerealLight.ttf");
}
body{
  padding: 0px;
  margin: 0px;
}
.Top{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 55px;
  background: #222222;
}
.Top-Text{
  color: #b3b3b3;
  cursor: pointer;
  text-decoration: underline;
  font-family: "Airbnb-Light";
  font-size: 14px;
}
.Top-Text:hover{
  color: #D4D4D4;
}
.Wallpaper{
  background-image: url('../images/background.png');
  height: 750px;
  background-repeat: no-repeat; /*Após o fim, a imagem não irá se repetir*/ 
  background-size: cover;
  background-position: bottom; /* Serve para mostrar o fim da imagem*/ 
}
.Menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80px;
}
.Menu-Flex{
  flex: 1;
}
.Menus{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Item-Menu{
  font-family: "Airbnb-Light";
  font-weight: 500;
  font-size: 17px;
}
.Logo{
  margin-left: 80px;}
.Menu-Right{
}